<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                <b>Setup by {{ settings.nameSite }}</b> ©| Liên hệ thiết kế Telegram @adclmmcam
            </div>
        </div>
    </div>
</footer>
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript" src="https://js.pusher.com/7.0/pusher.min.js" id="pusher-js"></script>
<script src="../assets/js/wheel.min.js?V2"></script>
<script src="../assets/js/jquery-1.10.1.min.js"></script>
<script src="../assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script>
<script src="../assets/js/script.js?ver=28042003.v890"></script>

<script src="../assets/plugins/notify/js/rainbow.js"></script>
<script src="../assets/plugins/notify/js/jquery.growl.js"></script>
<script src="../assets/js/jquery.richtext.js"></script>
<script src="../assets/plugins/select2/select2.full.min.js"></script>
<script src="../assets/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/pusher/pusher.min.js"></script>
<script src="../assets/js/app.js"></script>
<script type="text/javascript">
    let appKey = "{{ PUSHER_APP_KEY }}";
</script>
